# Base de données
POSTGRES_DB=collab_docs
POSTGRES_USER=collab_docs
POSTGRES_PASSWORD=changeme

JWT_SECRET=changeme_very_long_secret_key

ADMIN_EMAIL=admin@collab-docs.fr
ADMIN_PASSWORD=admin123

# URLs
CLIENT_URL=http://localhost:5173
VITE_API_URL=http://localhost:3001
VITE_WS_URL=ws://localhost:3002
